<h1 class="author-show name"><%= @author.name %></h1>
<h3 class="author-show email"><%=@author.email %></h3>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>

  <% @author.articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <% if article.summarize? %>
      <td><%= article.summary %><%= link_to '(more)', article_path(article) %></td>
      <% else %>
      <td><%= article.text %></td>
      <% end %>
      <td><%= link_to @author.name, @author %></td>
      <td><%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you certain?"} %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>
